body {
	font-family: "Raleway";
	background: url('./images/background_3.jpg');
	background-repeat: no-repeat;
	color: white;
	background-position: center;
	/* background-color: rgba(23, 56, 123, 0.3); */

	@media (max-width:650px) {
		background: url('./images/background_phone.jpg');
	}
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	padding-inline: 20px;
	margin:  0 auto;
	align-items: center;
}
.header {
	padding-block: 30px;

	@media (max-width:400px) {
		padding-block: 15px;
	}
}